extends layout

block content
	.content
		.leftbk0225
			.leftbk0225a(style="position: relative;")
				.fdjsqsjb
					a(href="javascript:void(0);" target="_blank")
				h1	购房贷款计算器
				//- 计算分类
				.jsqtitle
					ul
						li.jsqt03_hover
							a(href="#")	贷款计算器
						li.jsqt01
							a(href="#")	公积金贷款计算器
						li.jsqt02
							a(href="#")	提前还贷计算器
						li.jsqt03
							a(href="#")	税费计算器
						li.jsqt02
							a(href="#")	装修贷款计算器
						li.jsqt02(style="margin-right: 0;")
							a(href="#")	购房能力评估计算器
				//- 计算begin
				#calculate01.main
					form#calc11(name="calc11")
						table(width="650" border="0" cellpadding="0" cellspacing="0" style="font-size:12px!important;")
							tr
								td(width="330" valign="top")
									.mainl
										.h1	请您填写:
										.mainltr01
											.mainltr01tr.cnradio
												| 贷款类别：
												input(type="radio" name="loanradiotype" value="1" class="noborder" onclick="exc_zuhe(this.form, this.value);" checked="checked")
												| 商业贷款
												input(type="radio" name="loanradiotype" value="2" class="noborder" onclick="exc_zuhe(this.form, this.value);" checked="checked")
												| 公积金贷款
												input(type="radio" name="loanradiotype" value="3" class="noborder" onclick="exc_zuhe(this.form, this.value);" checked="checked")
												| 组合型贷款



