doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		include lilv.jade
	body
		block content
		script(type="text/javascript" src="/js/jquery/jquery.min.js")
		script(type="text/javascript" src="/js/calculator.js")
