doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(type="text/javascript").
			// 利用后端技术将数组打在页面中
			#{lilv_array}
	body
		block content
		script(type="text/javascript" src="/js/jquery/jquery.min.js")
		script(type="text/javascript" src="/js/calculator.js")
