script(type="text/javascript").
    // 房贷利率
    var lilv_array = new Array;
        //2016年1月1日基准利率
        lilv_array[5] = new Array;
        lilv_array[5][1] = new Array;
        lilv_array[5][2] = new Array;
        lilv_array[5][1][1] = 0.0435;//商贷1年 4.35%
        lilv_array[5][1][3] = 0.0475;//商贷1～3年 4.75%
        lilv_array[5][1][5] = 0.0475;//商贷 3～5年 4.75%
        lilv_array[5][1][10] = 0.049;//商贷 5-30年 4.90%
        lilv_array[5][2][5] = 0.0275;//公积金 1～5年 2.75%
        lilv_array[5][2][10] = 0.0325;//公积金 5-30年 3.25%
        //2016年1月1日利率下限（7折）
        lilv_array[6] = new Array;
        lilv_array[6][1] = new Array;
        lilv_array[6][2] = new Array;
        lilv_array[6][1][1] = 0.03045;//商贷1年 3.045%
        lilv_array[6][1][3] = 0.03325;//商贷1～3年 3.325%
        lilv_array[6][1][5] = 0.03325;//商贷 3～5年 3.325%
        lilv_array[6][1][10] = 0.0343;//商贷 5-30年 3.43%
        lilv_array[6][2][5] = 0.0275;//公积金 1～5年 2.75%
        lilv_array[6][2][10] = 0.0325;//公积金 5-30年 3.25%
        //2016年1月1日利率下限（85折）
        lilv_array[7] = new Array;
        lilv_array[7][1] = new Array;
        lilv_array[7][2] = new Array;
        lilv_array[7][1][1] = 0.03698;//商贷1年 3.698%
        lilv_array[7][1][3] = 0.04038;//商贷1～3年 4.038%
        lilv_array[7][1][5] = 0.04038;//商贷 3～5年 4.038%
        lilv_array[7][1][10] = 0.04165;//商贷 5-30年 4.165%
        lilv_array[7][2][5] = 0.0275;//公积金 1～5年 2.75%
        lilv_array[7][2][10] = 0.0325;//公积金 5-30年 3.25%
        //2016年1月1日利率上限（1.1倍）
        lilv_array[8] = new Array;
        lilv_array[8][1] = new Array;
        lilv_array[8][2] = new Array;
        lilv_array[8][1][1] = 0.04785;//商贷1年 4.785%
        lilv_array[8][1][3] = 0.05225;//商贷1～3年 5.225%
        lilv_array[8][1][5] = 0.05225;//商贷 3～5年 5.225%
        lilv_array[8][1][10] = 0.0539;//商贷 5-30年 5.39%
        lilv_array[8][2][5] = 0.0275;//公积金 1～5年 2.75%
        lilv_array[8][2][10] = 0.0325;//公积金 5-30年 3.25%